body {
	 background-image: url("images/back.png");
    background-color: black;
  
}



a:link {
    text-decoration: none;
    color: #FFFFFF;
	font-family: Arial; 
	padding-top: 80px;
    padding-bottom: 60px;
    padding-right: 70px;
    padding-left: 70px;
    
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.main
{
		width:66%;
	height:auto;
    background-color: white;
    margin:0 auto;
    text-align: center;
    margin-left:17%;

}
	
	
}
.content1, .content2 {
	width:100%;
	height:auto;
    background-color: white;
    margin-top:100px;
    text-align: center;
    margin-left:17%;
    display:inline-block;
    float:left;	
   
 
}


p {
	font-style:italic;
	font-family:"Arial";
	font-size: 15px;
	margin-right: 300px;
	margin-left:300px;
	padding-bottom:30px;
}

h1 {
	font-style:bold;
	font-family: Arial; 
	font-size: 25px;
	padding-top: 40px;
}


.pic {
	overflow:hidden;
	float:left;
    width: 25%;
    height: 247px;
    position: relative;
    display: inline-block;
}

#owl-demo .item img{
     display: block;
     width: 100%;
     height: auto;
    }

.border{
    margin:0 auto;
    text-align: center;
    margin-left:17%; }
    
.footer{
    color: #ffffff;  
    font-family: "Arial"; 
    margin:0 auto;
    text-align: center;
    font-style: normal;
    
 }
 .Twitter {
 	padding-top:20px;
 	display: inline-block;
 	margin-left:16%;
	float:left;
	padding-left:20px;
}

.Instagram {
	padding-top:20px;
    display: inline-block;
    padding-left:20px;
	float:left;	
}

.Sign {
	padding-top:20px;
    display: inline-block;
    padding-left:20px;
   	float:left;
}
.form-style {

	 color: #fff;
	 padding-left:10px; 
	 background: none;
    font-style:italic;
	font-family:"Arial";
	font-size: 15px;
}
 
h2 {
	
	font-family: Arial; 
	font-size: 25px;
	color: #ffffff; 
	text-align: center; 
	
}

th {
	font-style:italic;
	background:none;
	font-family:"Arial";
	font-size: 15px;
	 border: 1px 
	 solid #fff;
}

td {
	font-style:italic;
	font-family:"Arial";
	font-size: 15px;
	 solid #fff;
	 background:none;
}
table {
	background:none;
	font-style:none;
	font-family:"Arial";
	font-size: 15px;
	 background: none;
	 color: #fff;
	}
	


